* {
  font-family: 'Lato', sans-serif !important;
}

h1 {
  font-size: 2em !important;
  font-weight: 600 !important;
}

h2 {
  font-size: 1.5em !important;
}

h3 {
  font-size: 1.2em !important;
  font-weight: bold !important;
  margin-top: 10px !important;
}

/* Bold all headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold !important;
}


/* Search Items Styles */
.ais-HierarchicalMenu-label,
.ais-RefinementList-label {
  font-weight: bold;
}

/* Search Results Styles */
.badge {
  font-size: 0.75em !important;
  padding: 6px 10px !important;
}

.ais-Hits-item {
  padding: 14px !important;
}

.col-sm-4 img {
  width: 100% !important;
  aspect-ratio: 16/9 !important;
  object-fit: cover !important;
}